@inject NavigationManager _nav
<div @onclick="@(()=>_nav.NavigateTo("/"))">
	<img src="Light-Mode.svg" class="agora-logo" />
	@if (Expanded)
	{
		<img src="NameText.svg" class="agora-logo-text" />
	}
</div>

@code {
	[Parameter]
	public bool Expanded { get; set; } = true;
}

<style>
	.agora-logo {
		max-width: 100px;
		min-width: 60px;
		background-color: ##af6b74;
	}

	.agora-logo-text {
		margin-top: -20px;
		max-width: 180px;
		background-color: #af6b74;
	}

	.agora-logo, .agora-logo-text {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	div {
		cursor: pointer;
	}
</style>